.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 80px 20px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-style: initial;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.8);
}

.commentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 46px;
    justify-items: center;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 138px;
}
